[mysqld]
character-set-server=utf8mb4

log-error=/var/log/mysql/mysqld.log

slow_query_log
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=1
log-queries-not-using-indexes

general_log
general_log_file=/var/log/mysql/general.log

log-bin=master-bin
log-bin-index=master-bin

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
